.encabezado{
    background-color: darkgoldenrod;
    opacity: 0.85;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.encabezado h1{
    color: black;
}

.secciones{
    background-color: darkgoldenrod;
    opacity: 0.85;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10%;
}

.encabezado a{
    margin: 0%;
}

.imgback{
    width: 100%;
    height: 150%;
    position: absolute;
    margin: 0%;
    padding: 0%;
}

.tabla{
    color: black;
    background-color: darkgoldenrod;
    opacity: 0.85;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;
}

table {
    border-spacing: 10px;
    margin: 10%;
    border: 1px solid #ddd;
}

th {
    height: 20px;
    width: 70px;
    border-bottom: 1px solid #ddd;
  }

td{
    border-bottom: 1px solid #ddd;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
    margin-bottom: 5%;
}